@page "/CreateAPost"
@using HttpClients.Interfaces
@using global::Shared.Dtos
@using Microsoft.VisualBasic
@using System.Reflection.Emit
@using System.Security.Claims
@using BlazorWasm.Services
@inject IPostService PostService;
@inject NavigationManager NavigationManager;
<h3>Create A Post</h3>

<AuthorizeView>
    <Authorized>
        <div class="post">
            <div id="postTitle">
                <input type="text" @bind="title" id="textInput" placeholder="Title"/>
            </div>

            <div id="postBody">
                <textarea @bind="body" id="bodyInput" maxlength="1000"> Body</textarea>
            </div>
            <div class="button-row">
                @if (!string.IsNullOrEmpty(message))
                {
                    <label style="color :red"> @message </label>
                }
                <button @onclick="Create" class="acceptbtn"> Create </button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <label> To create a post you need to be logged in. </label>
    </NotAuthorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null;

    private string title = "";
    private string body= "";
    private ClaimsPrincipal user;

    private string message = "";

    protected override async void OnInitialized()
    {
        AuthenticationState AuthState = await this.AuthState;
        user = AuthState.User;

    }

    private async Task Create()
    {
        message = "";
        if (string.IsNullOrEmpty(title))
        {
            message = "Cannot create a title-less post!";
            return;
        }
        if (string.IsNullOrEmpty(body))
        {
            message = "Cannot create an empty post";
            return;
        }
        try
        {
            await PostService.CreateAsync(new PostCreationDto(user.Identity.Name, title, body));

            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

}